<!DOCTYPE html>
<html lang="en">
<head>
  <title>REDDING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
          <center>

              <%= form_with(model: [forum], local: true) do |form| %>
              <% if forum.errors.any? %>
                  <ul>
                  <% forum.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
              <% end %>
              <br><br><br>
                <%= form.text_field :name, :placeholder => "Nombre del Foro" %><br><br>
                <%= form.text_area :description, :placeholder => "Cuentanos de que se trata" %><br><br><br>
                <%= form.hidden_field :op, value: current_user.email %>
                <%= form.submit "Listo", class: "btn btn-primary" %>
              <% end %>

            </div>
          </center>
      </div>

      <div class="col-sm-4">
      </div>
    </div>

</body>
</html>
