
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RED-ING</title>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">

        <center>
        <%= form_with(model: [@forum], local: true) do |f|%>
            <br>
            <br>
            <br>
            <br>
          <%= f.text_field :name, :placeholder => "Titulo" %><br><br>
          <%= f.text_field :description, :placeholder => "Cuerpo" %><br><br>
          <%= f.hidden_field :forum_id, value: @forum.id %>
          <%= f.select  :email, @forum.admins.all.reject{ |p| User.find(p.user_id).email if p.subscribe  == false }.collect{|p| User.find(p.user_id).email}, include_blank: true %>
          <br>
          <br>
          <%= f.submit "Listo", class: "btn btn-primary"%>
        <% end %>
      </center>

      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
</body>
</html>
