<!DOCTYPE html>
<html lang="en">
<head>
  <title>REDDING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <%= link_to forum_path(@forum) do %>
      <button type="button" class="btn btn-primary" aria-label="Left-Align" text-decoration="none">
        <span >Volver a Foro</span>
      </button>
      <% end%>

    </div>
    <div class="col-sm-8 text-center">
      <div class="row">

        <div class="col-sm-5 text-center">

          <div class= "card" style="width:400px">
            <br>
            <br>
            <br>
            <img class="card-img-top" src="http://ku.90sjimg.com/element_origin_min_pic/01/40/42/75573cfd6bcd61c.jpg" height="60" width="60" alt="Card image">
            <div class="card-body">
              <h4 class="card-title"><strong>Titulo: </strong><%= @article.title %></h4>
              <p class="card-text"><strong>Cuerpo: </strong><%= @article.body %></p>
              <p class="card-text"><strong>Creador: </strong><%= @article.op %></p>
              <%= link_to like_forum_article_path(@forum.id,@article) , class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left-Align" text-decoration="none">
                <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                <span > </span>
                <span class="badge"> <%= @article.get_upvotes.size%> </span>
                <span > </span>
              </button>
              <%end%>
              <%= link_to dislike_forum_article_path(@forum.id,@article) , class: "dislike", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left-Align" text-decoration="none">
                <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                <span > </span>
                <span class="badge"> <%= @article.get_downvotes.size%> </span>
                <span > </span>
              </button>
              <%end%>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <h4 class="card-title"><strong>Comentarios</h4></strong>
          <% @comments.each do |comment| %>

            <div class="card-text" style="text-align:left;">
              <div class="dropdown">
              <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png"  class="mr-3 mt-3 rounded-circle" style="width:25px;">
              <strong><mark> <%= comment.op %>: </mark></strong>
              <%= comment.content %>
              <% if current_user %>
                <% if current_user.email == comment.op %>
                      <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><%= link_to edit_forum_article_comment_path(@forum, @article, comment), method: "get" do %>Editar<% end%></li>
                        <li><%= link_to borrar_forum_article_comment_path(@forum, @article, comment), method: "delete" do %>Borrar<% end%></li>
                        <li><%= link_to like_forum_article_comment_path(@forum.id,@article, comment) , method: :put do %>Like<span class="badge"> <%= comment.get_upvotes.size%> </span><% end%></li>
                        <li><%= link_to dislike_forum_article_comment_path(@forum.id,@article, comment), method: :put do %>Dislike<span class="badge"> <%= comment.get_downvotes.size%> </span><% end%></li>
                      </ul>
                <% end%>
              <% end %>
              </div>
              </div>
          <% end %>
          <center><%= will_paginate @comments%></center>

          <%= link_to new_forum_article_comment_path(@forum.id, @article.id) do %>
          <button type="button" class="btn btn-primary" aria-label="Left-Align" text-decoration="none">
            <span >Nuevo comentario</span>
          </button>
          <% end %>
          <br>
        </div>
      </div>

    </div>
    <div class="col-sm-2 sidenav">
      <% if current_user %>
        <% if current_user.email == @article.op %>

          <%= link_to edit_forum_article_path(@forum, @article), method: "get" do %>
          <button type="button" class="btn btn-default" aria-label="Left-Align" text-decoration="none">
            <span >Editar Articulo</span>
          </button>
          <% end%>
          <br>
          <br>
          <%= link_to borrar_forum_article_path(@forum, @article), method: "delete" do %>
          <button type="button" class="btn btn-danger" aria-label="Left-Align" text-decoration="none">
            <span >Eliminar Articulo</span>
          </button>
          <% end%>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>REDDING</p>
</footer>

</body>
</html>
