<!DOCTYPE html>
<html lang="en">
<head>
  <title>REDDING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br>


      <%= link_to new_forum_article_path do %>
      <button type="button" class="btn btn-primary" aria-label="Left-Align" text-decoration="none">
        <span >Nuevo Articulo</span>
      </button>
      <% end%>


    </div>
    <div class="col-sm-8 text-left">
    <center>
      <h1>Todos los Articulos</h1>
      <%= form_tag forum_articles_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "BUSCAR", :name => nil , class: "btn btn-primary"%>
        <p>
      <% end %>

      </center>
      <h1>Foro: <%= @forum.name %>
        <% if !current_user.forums.include?(@forum)%>
        <%= link_to forum_subscribe_path(@forum), method: "post" do %>
        <button type="button" class="btn btn-info custom" aria-label="Left-Align" text-decoration="none">
          <span > Subscribir</span>
        </button>
        <% end%>
        <% end%>
        <% if current_user.forums.include?(@forum)%>
        <%= link_to forum_unsuscribe_path(@forum), method: "post" do %>
        <button type="button" class="btn btn-info active custom" aria-label="Left-Align" text-decoration="none">
          <span > Suscrito  </span>
        </button>
        <% end%>
        <% end%>
      </h1>
    <h5>Descripción: <%= @forum.description %></h5>
    <h3>Artículos: </h3>
    </center>
    <div class="btn-group" style="float: right;">
      <%= link_to forum_articles_path(@forum), method: "get" do %>
      <button type="button" class="btn btn-default btn-sm" aria-label="Left-Align" text-decoration="none">
        <span >Time</span>
      </button>
      <% end%>
      <%= link_to vote_sort_forum_article_path(@forum, @forum.articles), method: "get" do %>
      <button type="button" class="btn btn-default btn-sm disabled" aria-label="Left-Align" text-decoration="none">
        <span >Votes</span>
      </button>
      <% end%>
    </div>
    <% @articles.each do |article| %>
    <center>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="http://ku.90sjimg.com/element_origin_min_pic/01/40/42/75573cfd6bcd61c.jpg" height="40" width="40" alt="Card image">
        <div class="card-body">
          <h4 class="card-title"><strong>Titulo:</strong> <%= article.title %></h4>
        </div>
        <%= link_to 'Ver articulo', forum_article_path(@forum, article) %>
      </div>
    </center>
      <br>
      <br>
    <% end %>
    <center><%= will_paginate @articles%></center>

    </div>
    <div class="col-sm-2 sidenav">
      <br>



      <%= link_to forums_path do %>
      <button type="button" class="btn btn-primary" aria-label="Left-Align" text-decoration="none">
        <span >Volver a Foros</span>
      </button>
      <% end%>
      <% if current_user %>
        <% if current_user.email == @forum.op %>
          <br>
          <br>
          <%= link_to edit_forum_path(@forum), method: "get" do %>
          <button type="button" class="btn btn-default" aria-label="Left-Align" text-decoration="none">
            <span >Editar Foro</span>
          </button>
          <% end%>
          <br>
          <br>
          <%= link_to borrar_forum_path(@forum), method: "delete" do %>
          <button type="button" class="btn btn-danger" aria-label="Left-Align" text-decoration="none">
            <span >Eliminar Foro</span>
          </button>
          <% end%>
        <% end%>
      <% end%>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>REDDING</p>
</footer>

</body>
</html>
