<div class="login">
  <div class="container">
    <div class="form">
      <center>
    <h1>¡Regístrate!</h1>

    <%= form_with(model: [user], local: true) do |form| %>
    <% if user.errors.any? %>
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>

      <%= form.text_field :first_name, :placeholder => "Nombre" %><br><br>
      <%= form.text_field :last_name, :placeholder => "Apellido" %><br><br>
      <!--<%= form.text_field :born_year, :placeholder => "Año de Nacimiento" %><br><br> -->
      <%= form.label :born_year, "Año de nacimiento" %>
      <%= form.select :born_year, (Date.today.year-100)..(Date.today.year) %><br><br>
      <!--<%= select_year(Date.today, :start_year => Date.today.year, :end_year =>  Date.today.year-100) %>-->

      <%= form.email_field :email, :placeholder => "Email" %><br><br>
      <%= form.password_field :password, :placeholder => "Contraseña" %><br><br><br>
      <%= form.label :avatar_url, "Elige tu foto" %>
      <%= filepicker_js_include_tag %>
      <%= form.filepicker_field :avatar_url %> <!-- User#avatar_url is a regular string column -->
      <%= form.submit "Crear Cuenta", class: "btn btn-primary" %>
    <% end %>

  </center>
    </div>
  </div>
</div>
