
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RED-ING</title>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">

        <center>
        <%= form_for(@user) do |f| %>
            <br>
            <br>
            <br>
            <br>
          <%= f.text_field :first_name, :placeholder => "Nombre" %><br><br>
          <%= f.text_field :last_name, :placeholder => "Apellido" %><br><br>
          <%= f.text_field :born_year, :placeholder => "Año de Nacimiento" %><br><br>
          <%= f.email_field :email, :placeholder => "Email" %><br><br>
          <%= f.password_field :password, :placeholder => "Contraseña" %><br><br><br>
          <%= f.label :avatar_url, "Elige tu foto" %>
          <%= f.filepicker_field :avatar_url %>
          <%= f.submit "Listo", class: "btn btn-primary" %>
        <% end %>
      </center>

      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
</body>
</html>
