<div class="login">
  <div class="container">
    <div class="form">
      <center>
    <h1>¡Regístrate!</h1>

    <%= form_for(@user) do |f| %>
      <%= f.text_field :first_name, :placeholder => "Nombre" %><br><br>
      <%= f.text_field :last_name, :placeholder => "Apellido" %><br><br>
      <%= f.text_field :born_year, :placeholder => "Año de Nacimiento" %><br><br>
      <%= f.email_field :email, :placeholder => "Email" %><br><br>
      <%= f.password_field :password, :placeholder => "Contraseña" %><br><br><br>
      <%= f.submit "Crear Cuenta", class: "btn btn-primary" %>
    <% end %>

  </center>
    </div>
  </div>
</div>
