<!DOCTYPE html>
<html lang="en">
<head>
  <title>RED-ING</title>
</head>
<body>


  <br>

  <div class="row">
    <center>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <div class="card-body">
          <%= filepicker_js_include_tag %>
          <%= filepicker_image_tag @user.avatar_url, w: 200, h: 200, fit: 'clip' %>
          <h4 class="card-title"> <%= @user.first_name %> <%= @user.last_name %></h4>
          <h5 class="card-title">Año de nacimiento: <%= @user.born_year %> </h5>
          <h5 class="card-title">Mail: <%= @user.email %> </h5>
          <h5 class="card-title">Likes Totales: <%= @user.votes.up.size %> </h5>
          <h5 class="card-title">Disikes Totales: <%= @user.votes.down.size %> </h5>
          <footer><h6 style=".small">Totales consideran articulos y comentarios</h6></footer>
          <% if current_user == @user %>
            <p class="recipe-edit">
              <%= link_to "Editar", edit_user_path(@user.id) %>
            </p>
        <% end %>
        </div>
      </div>
    </div>
  </center>
    <div class="col-sm-8">
      <% @votos.each do |vote| %>
        <% if vote.is_a?(Article)%>
          <% if @user.voted_up_on? vote %>
            <div class="media border p-3">
              <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= @user.first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
              <div class="media-body">
                <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
                <p>Le gustó el articulo: <%= vote.title %></p>
              </div>
            </div>

          <% elsif @user.voted_down_on? vote %>
          <div class="media border p-3">

            <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= @user.first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
            <div class="media-body">
              <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
              <p>Le disgustó el articulo: <%= vote.title %></p>
            </div>
          </div>
          <% end %>
        <% end %>

        <% if vote.is_a?(Comment)%>
          <% if @user.voted_up_on? vote %>
            <div class="media border p-3">
              <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= @user.first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
              <div class="media-body">
                <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
                <p>Le gustó un comentario de: <%= vote.op %></p>
              </div>
            </div>

          <% elsif @user.voted_down_on? vote %>
          <div class="media border p-3">

            <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= @user.first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
            <div class="media-body">
              <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
              <p>Le disgustó un comentario de: <%= vote.op%></p>
            </div>
          </div>
          <% end %>
        <% end %>





      <% end %>
      <center><%= will_paginate @votos%></center>

  </div>
</div>


</body>
</html>
