<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <title>RED-ING</title>
</head>
<body>
<style>

.style_image {
  border-radius: 60%;
}
</style>

  <br>

  <div class="row">
    <center>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <div class="card-body">
          <%= filepicker_js_include_tag %>
          <img><%= filepicker_image_tag @user.avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '100', height: '100'%>
          <h4 class="card-title"> <%= @user.first_name %> <%= @user.last_name %></h4>
          <h5 class="card-title">Año de nacimiento: <%= @user.born_year %> </h5>
          <h5 class="card-title">Mail: <%= @user.email %> </h5>
          <h5 class="card-title">Likes Totales: <%= @user.votes.up.size %> </h5>
          <h5 class="card-title">Disikes Totales: <%= @user.votes.down.size %> </h5>
          <h5 class="card-title">Foros Totales: <%= @user.forums.size %> </h5>
          <footer><h6 style=".small">Totales consideran articulos y comentarios</h6></footer>
          <% if current_user == @user %>
            <p class="recipe-edit">
              <%= link_to "Editar", edit_user_path(@user.id) %>
            </p>

        <% end %>

        </div>
      </div>
    </div>
  </center>
    <div class="col-sm-8">
      <% @votos.each do |vote| %>
        <% if vote.is_a?(Article)%>
          <% if @user.voted_up_on? vote %>
            <div class="media border p-3">
              <img><%= filepicker_image_tag @user.avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
              <div class="media-body">
                <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
                <p>Le gustó el articulo: <%= vote.title %></p>
              </div>
            </div>

          <% elsif @user.voted_down_on? vote %>
          <div class="media border p-3">

            <img><%= filepicker_image_tag @user.avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
            <div class="media-body">
              <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
              <p>Le disgustó el articulo: <%= vote.title %></p>
            </div>
          </div>
          <% end %>
        <% end %>

        <% if vote.is_a?(Comment)%>
          <% if @user.voted_up_on? vote %>
            <div class="media border p-3">
              <img><%= filepicker_image_tag @user.avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
              <div class="media-body">
                <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
                <p>Le gustó un comentario de: <%= vote.op %></p>
              </div>
            </div>

          <% elsif @user.voted_down_on? vote %>
          <div class="media border p-3">

            <img><%= filepicker_image_tag @user.avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
            <div class="media-body">
              <h4><%= @user.first_name%> <%= @user.last_name%> <small><i><%= @user.email %></i></small></h4>
              <p>Le disgustó un comentario de: <%= vote.op%></p>
            </div>
          </div>
          <% end %>
        <% end %>





      <% end %>
      <center><%= will_paginate @votos%></center>

  </div>
</div>


</body>
</html>
