<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div class="row">
<div class="col-sm-12">
  <center>
    <h1>Actividades de tus Foros</h1>
<!--
    <h1><%= @activities_filtradas.size %></h1>
<% @activities.each do |activity| %>
  <!-  Este if es para no publicar cada vez que haya una actualización ->
  <% if activity.key.split(".")[1] == "update" %>
    <% next %>
  <% end %>

  <div class="activity">
    <% if current_user.forums.include?(activity.trackable) %>
    <% activity.trackable.articles.each do |article| %>
    <% if User.find(article.op_id).avatar_url == "" %>
    <div class="media border p-3">
      <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= User.find(activity.owner_id).first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
      <div class="media-body">
        <h4><%= link_to article.op, user_path(article.op_id)%> </h4>
        <p>Ha creado el articulo <%= link_to article.title, forum_article_path( activity.trackable , article) %> en el foro <%=link_to activity.trackable.name, activity.trackable %> de <%=link_to User.find(activity.owner_id).email, user_path(activity.owner_id)  %></p>
      </div>
    </div>
    <% elsif  User.find(article.op_id).avatar_url != "" %>
    <div class="media border p-3">
      <img><%= filepicker_image_tag User.find(article.op_id).avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
      <div class="media-body">
        <h4><%= link_to article.op, user_path(article.op_id)%> </h4>
        <p>Ha creado el articulo <%= link_to article.title, forum_article_path( activity.trackable , article) %> en el foro <%=link_to activity.trackable.name, activity.trackable %> </p>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
<% end %>
-->
<div class="activity">
  <% @activities_filtradas.each do |tupla| %>
  <% activity = tupla[1] %>
  <% article = tupla[0] %>
    <% if User.find(article.op_id).avatar_url == "" %>
  <div class="card-block well" style="width:450px">
    <div class="media border p-3">
      <img src="https://aumentada.net/wp-content/uploads/2015/05/user.png" alt= "<%= User.find(activity.owner_id).first_name%>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
      <div class="media-body">
        <h4><%= link_to article.op, user_path(article.op_id)%> </h4>
        <p>Ha creado el articulo <%= link_to article.title, forum_article_path( article.forum_id , article) %> en el foro <%=link_to activity.trackable.name, activity.trackable %> de <%=link_to User.find(activity.owner_id).email, user_path(activity.owner_id)  %></p>
      </div>
    </div>
  </div>
    <% elsif  User.find(article.op_id).avatar_url != "" %>
  <div class="card-block well" style="width:450px">

    <div class="media border p-3">
      <img><%= filepicker_image_tag User.find(article.op_id).avatar_url, { w: 200, h: 200, fit: 'clip'}, class: 'img-circle',alt: 'Cinque Terre', width: '50', height: '50'%>
      <div class="media-body">
        <h4><%= link_to article.op, user_path(article.op_id)%> </h4>
        <p>Ha creado el articulo <%= link_to article.title, forum_article_path( article.forum_id , article) %> en el foro <%=link_to activity.trackable.name, activity.trackable %> </p>
      </div>
    </div>
  </div>
    <% end %>

<%end%>

</div>

<center><%= will_paginate @activities_filtradas%></center>




</div>


</div>

</body>
</html>
