
<!DOCTYPE html>
<html>
  <head>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>REDDING</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon"
     href="https://static1.squarespace.com/static/528252b7e4b00150d03a4848/59a2354eebbd1a0623e0cefe/59a2359f6a49631dd5192339/1503802789674/RickAndMorty_RickHappy1500.png?format=300w">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <!-- Para lo de iniciar sesion y log in arriba-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <br>
      <img src="https://orig00.deviantart.net/88d4/f/2015/156/8/6/reddit_app_icon_by_sandiskplayer34-d8w5gj3.png"
       height="50" width="50" >
    </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>

            <li><a><%= link_to current_user.email, current_user %></a></li>
            <li><a><%= link_to "CERRAR SESIÓN", logout_path, method: "delete" %></a></li>

        <% else %>

            <li><a><%= link_to "INGRESAR", login_path , class:"nav navbar-nav " %> </a></li>
            <li><a><%= link_to "REGISTRARTE", signup_path %></a></li>

        <% end %>
      </ul>
      <br>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "VER FOROS", forums_path %></li>
      </ul>
  </div>
</nav>




  <%= yield %>
  </body>
</html>
